<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.45.2" targetFramework="net45" />
  <package id="AutoFixture.AutoNSubstitute" version="3.45.2" targetFramework="net45" />
  <package id="FluentAssertions" version="4.5.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net45" />
  <package id="NUnit" version="3.2.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="SignalR.Client.TypedHubProxy" version="3.0.1" targetFramework="net45" />
</packages>